#############################################################
# My datahub project 
# Git files to ignore
##############################################################
ansible/secrets.yaml
ansible/secrets.pr.yaml
ansible/secrets.np.yaml
