# Ansible-managed: Forward all local logs to Kafka

# provides UDP syslog reception
module(load="imudp")
input(type="imudp" port="514")

# provides TCP syslog reception
module(load="imtcp")
input(type="imtcp" port="514")

# Load the omkafka module
module(load="omkafka")

# Define a template for JSON formatting
template(name="json-template" type="list") {
        # beginning json bracket
        constant(value="{ ")
        # properties to be included in output
        property(outname="timegenerated" name="timegenerated" dateFormat="rfc3339" format="jsonf")
        constant(value=",")
        property(outname="timereported" name="timereported" dateFormat="rfc3339" format="jsonf")
        constant(value=",")
        property(outname="relayhost" name="$myhostname" format="jsonf")
        constant(value=",")
        property(outname="fromhost-ip" name="fromhost-ip" format="jsonf")
        constant(value=",")
        property(outname="fromhost-name" name="hostname" format="jsonf")
        constant(value=",")
        property(outname="syslogseverity" name="syslogseverity" format="jsonf")
        constant(value=",")
        property(outname="syslogseverity-text" name="syslogseverity-text" format="jsonf")
        constant(value=",")
        property(outname="syslogtag" name="syslogtag" format="jsonf")
        constant(value=",")
        property(outname="programname" name="programname" format="jsonf")
        constant(value=",")
        property(outname="pri" name="pri" format="jsonf")
        constant(value=",")
        property(outname="pri-text" name="pri-text" format="jsonf")
        constant(value=",")
        property(outname="syslogfacility-text" name="syslogfacility-text" format="jsonf")
        constant(value=",")
        property(outname="app-name" name="app-name" format="jsonf")
        constant(value=",")
        property(outname="msg" name="msg" format="jsonf")
        # closing json bracket
        constant(value="}\n ")
}

# Action to send all messages to Kafka
action(type="omkafka"
       topic="syslog-sorter"
       broker=["{{ kafka_brokers_string }}"]
       template="json-template"
       partitions.auto="on"
)
