# Ansible inventory for the my-datahub project.
all:
  vars:
    # Map the generic playbook variables to the PR secrets
    harbor_user: "{{ harbor_np_user }}"
    harbor_password: "{{ harbor_np_password }}"

  children:
    # Kubernetes control plane nodes for the K3s cluster.
    k8ctl:
      vars:
        architecture: x86_64
      hosts:
        tk3s01:
          ansible_host: 192.168.20.201

    # Kubernetes worker nodes.
    k8work:
      vars:
        architecture: x86_64
      hosts:
        tk3s02:
          ansible_host: 192.168.20.202
        tk3s03:
          ansible_host: 192.168.20.203

    # Kafka cluster nodes.
    kafka:
      vars:
        architecture: x86_64
      hosts:
        tkf01:
          ansible_host: 192.168.20.21
          kafka_is_controller: true
        tkf02:
          ansible_host: 192.168.20.22
          kafka_is_controller: true
        tkf03:
          ansible_host: 192.168.20.23
          kafka_is_controller: true

    # Load balancer nodes.
    lb:
      vars:
        architecture: x86_64
      hosts:
        tlb01:
          ansible_host: 192.168.20.11

    # Releation Databases
    rdms:
      hosts:
        datahub:
          ansible_host: 192.168.20.10
          architecture: x86_64

    # Container registry management
    registry:
      hosts:
        harbor:
          ansible_host: 192.168.30.12
          architecture: x86_64